#addButton {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}
#deleteButton {
    -fx-background-color:
            linear-gradient(#ba0606, #6a0000),
            linear-gradient(#ff3636 0%, #b61b1b 20%, #c92626 100%),
            linear-gradient(#dc2020 0%, #e51414 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#editButton {
    -fx-background-color: #35ee20,
    linear-gradient(#29ad20 50%, #59721b 100%),
    radial-gradient(center 50% -40%, radius 200%, #5dd033 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}
